<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>临时的</title>
</head>
<body>

<!--text转义特殊字符会输出字符串，untext不转义特殊字符，<p>就会iu起作用-->
<!--<div th:object="${user}">-->
<!--    <span th:text="*{name}"></span>-->
<!--</div>-->
<!--$和jsp差不多，*{}选择表达式,${user}比如前面这个是表示user对象， 那么*{name}就表示直接取出对象的一个name属性-->
<!--<div th:text="${x.jd}"></div>-->
<!--#{}获取国际化内容的-->
<!--th:href="@{}"    @{}用来表示url的-->
<!--用循环获取值，user就是循环里面的每一个值-->
<div >
    <span th:each="user:${User}" th:text="user"></span>
</div>


<img  th:src="@{/x.jpg}" width="1000px" height="1000px"/>
</body>
</html>